@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/StyleSheet.css" />
<div class="homescreen-background">
    @* <div class="overlay-text">
        <h1>Welcome to Our Website</h1>
        <p>Your journey to better service starts here!</p>
    </div> *@
</div>
