@model ABZVehicleInsuranceMvcProject.Models.Proposal

@{
    ViewData["Title"] = "Create";
    string token = (string)ViewData["token"];
}

<h1>Create</h1>

<h4>Proposal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProposalNo" class="control-label"></label>
                <input asp-for="ProposalNo" class="form-control" />
                <span asp-validation-for="ProposalNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegNo" class="control-label"></label>
                @* <input asp-for="RegNo" class="form-control" /> *@
                @Html.DropDownListFor(model => model.RegNo, await ForeignKeyHelper.GetRegNos(token))
                <span asp-validation-for="RegNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductID" class="control-label"></label>
                @* <input asp-for="ProductID" class="form-control" /> *@
                @Html.DropDownListFor(model => model.ProductID, await ForeignKeyHelper.GetProductIds(token))
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                @* <input asp-for="CustomerID" class="form-control" /> *@
                @Html.DropDownListFor(model => model.CustomerID, await ForeignKeyHelper.GetCustomerIds(token))
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FromDate" class="control-label"></label>
                <input asp-for="FromDate" class="form-control" />
                <span asp-validation-for="FromDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDate" class="control-label"></label>
                <input asp-for="ToDate" class="form-control" />
                <span asp-validation-for="ToDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDV" class="control-label"></label>
                <input asp-for="IDV" class="form-control" />
                <span asp-validation-for="IDV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgentID" class="control-label"></label>
                @* <input asp-for="AgentID" class="form-control" /> *@
                @Html.DropDownListFor(model => model.AgentID, await ForeignKeyHelper.GetAgentIds(token))
                <span asp-validation-for="AgentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasicAmount" class="control-label"></label>
                <input asp-for="BasicAmount" class="form-control" />
                <span asp-validation-for="BasicAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
     @*<a asp-action="Index">Back to List</a>*@
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
