@model ABZVehicleInsuranceMvcProject.Models.Agent

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Agent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AgentID" class="control-label"></label>
                <input asp-for="AgentID" class="form-control" />
                <span asp-validation-for="AgentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgentName" class="control-label"></label>
                <input asp-for="AgentName" class="form-control" />
                <span asp-validation-for="AgentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgentPhone" class="control-label"></label>
                <input asp-for="AgentPhone" class="form-control" />
                <span asp-validation-for="AgentPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgentEmail" class="control-label"></label>
                <input asp-for="AgentEmail" class="form-control" />
                <span asp-validation-for="AgentEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenseCode" class="control-label"></label>
                <input asp-for="LicenseCode" class="form-control" />
                <span asp-validation-for="LicenseCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @* <a asp-action="Index">Back to List</a> *@
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
