@model ABZVehicleInsuranceMvcProject.Models.QueryResponse

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>QueryResponse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QueryID" class="control-label"></label>
                <input asp-for="QueryID" class="form-control" />
                <span asp-validation-for="QueryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SrNo" class="control-label"></label>
                <input asp-for="SrNo" class="form-control" />
                <span asp-validation-for="SrNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgentID" class="control-label"></label>
                <input asp-for="AgentID" class="form-control" />
                <span asp-validation-for="AgentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponseDate" class="control-label"></label>
                <input asp-for="ResponseDate" class="form-control" />
                <span asp-validation-for="ResponseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @* <a asp-action="Index">Back to List</a> *@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
